<h1>Operation</h1>

<span *ngIf="done" class="acc_message acc_message_success">Operation done</span>

<span *ngIf="error" class="acc_message acc_message_error">Operation failed !</span>

<form [formGroup]="operationForm" >
  <p>
    <mat-form-field appearance="outline" class="acc_input">
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" type="number" required>
    </mat-form-field>
  </p>

  <button mat-button type="button" mat-raised-button
          [disabled]="operationForm.invalid"
          (click)="withdrawal()"
          class="acc_button">Withdrawal</button>
  <button mat-button type="button" mat-raised-button color="primary"
          [disabled]="operationForm.invalid"
          (click)="deposit()"
          class="acc_button">Deposit</button>
</form>
